*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --text-color-W: #fff;
    --text-color-B: #000;
    --border-radius-1: 10px;
    --bg-color: #2f80ff;
}

/* body{
    height: 1000vh;
} */

/* Navigation=================================================== */

#check{
    display: none;
}

#navbar label{
    display: none;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbar .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    position: relative;
    background: var(--bg-color);

}

#navbar .logo{
    font-size: 1.5em;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 2px;
    color: var(--text-color-W);
}

#navbar nav ul{
    display: flex;
    gap: 60px;
}

#navbar ul a{
    color: var(--text-color-W);
}

/* Navigation=================================================== */


/* Main========================================================= */

#main{
    background: url(image/canada.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

#main .main-intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    line-height: 70px;
    color: var(--text-color-W);
}

.main-intro h3{
    font-size: 2em;
    font-weight: 500;
    font-variant: small-caps;
}

.main-intro h1{
    font-size: 3em;
}

.main-intro .btn-1{
    padding: 10px 20px;
    border-radius: var(--border-radius-1);
    border: none;
    outline: none;
    font-size: 1.1em;
    background: var(--bg-color);
    color: var(--text-color-W);
    font-weight: 800;
}

.main-intro .btn-1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* Main========================================================= */


/* Skills========================================================= */

#skill{
    border: solid transparent;
}

#skill .skill-title{
    text-align: center;
    line-height: 50px;
    transform: translateY(30%);
}

.skill-title h1{
    font-size: 3em;
    font-variant: small-caps;
}

.skill-title h3{
    font-style: italic;
    color: #5a5959;
}

#skill .skill-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.skill-container .items{
    border: 1px solid #333;
    border-radius: var(--border-radius-1);
    width: 80%;
    height: 85%;
    margin: 40px auto;
}

.items .item-icon{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    background: var(--bg-color);
    position: relative;
}

.item-icon i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: var(--text-color-W);
}

.items .item-content{
    text-align: center;
    line-height: 30px;
}

.item-content h4{
    font-size: 1.4em;
    margin-bottom: 20px;
}

/* Skills========================================================= */



/* About========================================================== */

#about{
    border: solid transparent;
}

#about .about-title{
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
}

.about-title h1{
    font-size: 3em;
    font-variant: small-caps;
}

.about-title h5{
    font-size: 1.2em;
    font-style: italic;
    color: #5a5959;
}


#about .about-list{
    height: 135vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.about-list .lists{
    padding: 5%;
    border-radius: 50%;
}

.about-list .list-img-1{
    background: url(image/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-img-2{
    background: url(image/crew-4Hg8LH9Hoxc-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-img-3{
    background: url(image/christin-hume-mfB1B1s4sMc-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-img-4{
    background: url(image/domenico-loia-hGV2TfOh0ns-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-content-1{
    width: 40%;
    text-align: end;
    top: 6%;
    left: 4%;
    position: absolute;
}

.about-list .list-content-2{
    width: 40%;
    text-align: start;
    top: 31%;
    left: 56%;
    position: absolute;
}
.about-list .list-content-3{
    width: 40%;
    text-align: end;
    top: 56%;
    left: 4%;
    position: absolute;
}

.about-list .list-content-4{
    width: 40%;
    text-align: start;
    top: 81%;
    left: 56%;
    position: absolute;
}

/* About========================================================== */


/* Curriculum Vitae========================================================== */

#curriculum-vitae{
    width: 100%;
    border: solid red;
}

#curriculum-vitae .curriculum-title{
    text-align: center;
    margin: 30px;
    line-height: 50px;
}

.curriculum-title h1{
    font-size: 3em;
    font-variant: small-caps;
}

.curriculum-title p{
    font-size: 1.2em;
    font-style: italic;
    color: #5a5959;
}

#curriculum-vitae .bio-data{
    display: grid;
    grid-template-columns: 30% 45%;
    justify-content: center;
    gap: 20px;
}

.bio-data .profile-left{
    border: solid;
    height: 90vh;
}

.bio-data .profile-right{
    border: solid;
    height: 90vh;
}



/* Curriculum Vitae========================================================== */









/* ||||||||| Media Query ||||||||| */

@media (max-width: 1400px){
    /* Navigation----------------------------------------------- */
    #navbar .header{
        padding: 10px 10px;
    }
    /* Navigation----------------------------------------------- */

    /* Main----------------------------------------------------- */

    #main .main-intro{
        width: 100%;
    }

    /* Main----------------------------------------------------- */
    /* About----------------------------------------------------- */

    #about .about-list .list-content-1{
        top: 5%;
    }

    #about .about-list .list-content-2{
        top: 29%;
    }

    #about .about-list .list-content-3{
        top: 55%;
    }

    #about .about-list .list-content-4{
        top: 80%;
    }

    /* About----------------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    /* #curriculum-vitae .profile-img{
        width: 200px;
    } */
    
    /* Curriculum Vitae--------------------------------------------------- */



}

@media (max-width:1218px){
    /* Skill--------------------------------------------------- */

    #skill .skill-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Skill--------------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    /* #curriculum-vitae .profile-img{
        width: 200px;
    } */

    /* Curriculum Vitae--------------------------------------------------- */
}


@media (max-width:812px){
    /* Skill--------------------------------------------------- */

    #skill .skill-container{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Skill--------------------------------------------------- */

    /* About----------------------------------------------------- */

    #about .about-list{
        align-items: start;
    }

    #about .about-list .list-content-1{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 5%;
    }
    
    #about .about-list .list-content-2{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 29%;
    }
    
    #about .about-list .list-content-3{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 55%;
    }
    
    #about .about-list .list-content-4{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 80%;
    }
    
     /* About----------------------------------------------------- */
}


@media (max-width: 768px){
    /* Navigation----------------------------------------------- */
    #navbar label{
        display: block;
        font-size: 1.5em;
        color: var(--text-color-W);
    }
    #navbar nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: var(--bg-color);
    }

    #navbar nav ul{
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    #check:checked ~ nav{
        height: fit-content;
    }
    /* Navigation----------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    #curriculum-vitae .bio-data{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Curriculum Vitae--------------------------------------------------- */
}


@media (max-width:500px){

    /* Navigation----------------------------------------------- */

    #navbar .header{
        padding: 20px;
    }

    /* Navigation----------------------------------------------- */

    /* Main--------------------------------------------------- */
    #main{
        background-position: center left;
    }
    /* Main--------------------------------------------------- */

    /* About----------------------------------------------------- */

    #about .about-list{
        align-items: start;
        margin-top: -10%;
    }

    #about .about-list .list-content-1{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 8%;
    }
    
    #about .about-list .list-content-2{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 32%;
    }
    
    #about .about-list .list-content-3{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 57%;
    }
    
    #about .about-list .list-content-4{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 82%;
    }
    
     /* About----------------------------------------------------- */

    
}


@media (max-width:385px){
    /* Main------------------------------------------------------ */

    #main .main-intro{
        width: 60%;
        top: 60%;
    }

    /* Main------------------------------------------------------ */

    /* About----------------------------------------------------- */

    #about .about-list{
        align-items: start;
        padding: 0 10px;
    }
    
     /* About----------------------------------------------------- */

}