*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --text-color-W: #fff;
    --text-color-B: #000;
    --border-radius-1: 10px;
    --bg-color: #2f80ff;
}

/* body{
    height: 1000vh;
} */

/* Navigation=================================================== */

#check{
    display: none;
}

#navbar label{
    display: none;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbar .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    position: relative;
    background: var(--bg-color);

}

#navbar .logo{
    font-size: 1.5em;
    font-weight: 600;
    font-variant: small-caps;
    letter-spacing: 2px;
    color: var(--text-color-W);
}

#navbar nav ul{
    display: flex;
    gap: 60px;
}

#navbar ul a{
    color: var(--text-color-W);
}

/* Navigation=================================================== */


/* Main========================================================= */

#main{
    background: url(image/canada.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

#main .main-intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    line-height: 70px;
    color: var(--text-color-W);
}

.main-intro h3{
    font-size: 2em;
    font-weight: 500;
    font-variant: small-caps;
}

.main-intro h1{
    font-size: 3em;
}

.main-intro .btn-1{
    padding: 10px 20px;
    border-radius: var(--border-radius-1);
    border: none;
    outline: none;
    font-size: 1.1em;
    background: var(--bg-color);
    color: var(--text-color-W);
    font-weight: 800;
}

.main-intro .btn-1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* Main========================================================= */


/* Skills========================================================= */

#skill{
    border: solid transparent;
}

#skill .skill-title{
    text-align: center;
    line-height: 50px;
    transform: translateY(30%);
}

.skill-title h1{
    font-size: 3em;
    font-variant: small-caps;
}

.skill-title h3{
    font-style: italic;
    color: #5a5959;
}

#skill .skill-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.skill-container .items{
    border: 1px solid #333;
    border-radius: var(--border-radius-1);
    width: 80%;
    height: 85%;
    margin: 40px auto;
}

.items .item-icon{
    width: 100px;
    height: 100px;
    margin: 20px auto;
    border-radius: 50%;
    background: var(--bg-color);
    position: relative;
}

.item-icon i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    color: var(--text-color-W);
}

.items .item-content{
    text-align: center;
    line-height: 30px;
}

.item-content h4{
    font-size: 1.4em;
    margin-bottom: 20px;
}

/* Skills========================================================= */



/* About========================================================== */

#about{
    border: solid transparent;
}

#about .about-title{
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
}

.about-title h1{
    font-size: 3em;
    font-variant: small-caps;
}

.about-title h5{
    font-size: 1.2em;
    font-style: italic;
    color: #5a5959;
}


#about .about-list{
    height: 135vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    position: relative;
}

.about-list .lists{
    padding: 5%;
    border-radius: 50%;
}

.about-list .list-img-1{
    background: url(image/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-img-2{
    background: url(image/crew-4Hg8LH9Hoxc-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-img-3{
    background: url(image/christin-hume-mfB1B1s4sMc-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-img-4{
    background: url(image/domenico-loia-hGV2TfOh0ns-unsplash.jpg) no-repeat center;
    background-size: cover;
}

.about-list .list-content-1{
    width: 40%;
    text-align: end;
    top: 6%;
    left: 4%;
    position: absolute;
}

.about-list .list-content-2{
    width: 40%;
    text-align: start;
    top: 31%;
    left: 56%;
    position: absolute;
}
.about-list .list-content-3{
    width: 40%;
    text-align: end;
    top: 56%;
    left: 4%;
    position: absolute;
}

.about-list .list-content-4{
    width: 40%;
    text-align: start;
    top: 81%;
    left: 56%;
    position: absolute;
}

/* About========================================================== */


/* Curriculum Vitae========================================================== */

#curriculum-vitae{
    width: 100%;
    border: solid transparent;
}

#curriculum-vitae .curriculum-title{
    text-align: center;
    margin: 30px;
    line-height: 50px;
}

.curriculum-title h1{
    font-size: 3em;
    font-variant: small-caps;
}

.curriculum-title p{
    font-size: 1.2em;
    font-style: italic;
    color: #5a5959;
}

#curriculum-vitae .bio-data{
    display: grid;
    grid-template-columns: 30% 45%;
    justify-content: center;
    gap: 20px;
}

.bio-data .profile-left{
    height: 105vh;
    position: relative;
}

.profile-left .profile-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 50%;
    background: url(image/Ricky.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
}

.profile-left .profile-bio-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(80%);
}

.profile-bio-data h1{
    margin: 0 0 20px;
}

.profile-bio-data .profile-link{
    text-align: center;
}

.profile-link .profile-icon{
    margin: 0 0 5px;
}

.profile-left .profile-social-media{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.profile-social-media .social-link{
    width: 50px;
    height: 50px;
    background: var(--bg-color);
    color: var(--text-color-W);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-social-media .social-link:hover{
    transform: scale(1.1);
    box-shadow:0 0 10px rgba(0,0,0,.5);
}

.social-link i{
    font-size: 1.3em;
}

.profile-left .skill-interest{
    text-align: center;
}

.skill-interest h2{
    margin: 0 0 10px;
}


.bio-data .profile-right{
    height: fit-content;
    position: relative;
}

.profile-right h1{
    font-size: 2em;
    padding: 20px 0;
    border-bottom: 1px solid #33333350;
}

.profile-right h5{
    font-size: 1.5em;
    margin: 10px 0 0;
}

.profile-right h6{
    font-size: 1.5em;
    margin: 10px 0 0;
}

.profile-right p{
    margin: 20px 0;
}

.profile-right ul{
    margin: 20px;
}

.profile-right ul li{
    list-style-type:circle;
}

.profile-right .personal-bio{
    display: none;
}


/* Curriculum Vitae========================================================== */


/* contact========================================================== */

#contact{
    background: url(image/last\ key\ board.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    padding: 10px 0 0;
    position: relative;
}

#contact .contact-information{
    color: var(--text-color-W);
    text-align: center;
    margin: 50px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form .input-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
    height: 30vh;
}

.input-information input{
    width: 100%;
    height: 50%;
    border-radius: var(--border-radius-1);
    font-size: 1.1em;
    padding: 0 20px;
}

form textarea{
    width: 40%;
    height: 30vh;
    border-radius: var(--border-radius-1);
    border: none;
    outline: none;
    font-size: 1.1em;
    padding:20px;
}

form .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 250%);
    padding: 10px 20px;
    border: solid var(--text-color-W);
    background: transparent;
    font-size: 1.2em;
    color: var(--text-color-W);
    border-radius: var(--border-radius-1);
}


/* contact========================================================== */
/* footer========================================================== */

footer{
    border: solid #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.foot-link{
    display: flex;
    gap: 40px;
}

.foot-link .social-link{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-W);
}

.foot-link .social-link:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

/* footer========================================================== */









/* ||||||||| Media Query ||||||||| */

@media (max-width: 1400px){
    /* Navigation----------------------------------------------- */
    #navbar .header{
        padding: 10px 10px;
    }
    /* Navigation----------------------------------------------- */

    /* Main----------------------------------------------------- */

    #main .main-intro{
        width: 100%;
    }

    /* Main----------------------------------------------------- */
    /* About----------------------------------------------------- */

    #about .about-list .list-content-1{
        top: 5%;
    }

    #about .about-list .list-content-2{
        top: 29%;
    }

    #about .about-list .list-content-3{
        top: 55%;
    }

    #about .about-list .list-content-4{
        top: 80%;
    }

    /* About----------------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    /* #curriculum-vitae .profile-img{
        width: 200px;
    } */
    .profile-left .profile-img{
        transform: translate(-50%, -100%);
    }
    
    /* Curriculum Vitae--------------------------------------------------- */



}

@media (max-width:1218px){
    /* Skill--------------------------------------------------- */

    #skill .skill-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* Skill--------------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    /* #curriculum-vitae .profile-img{
        width: 200px;
    } */


    /* Curriculum Vitae--------------------------------------------------- */
}


@media (max-width:812px){
    /* Skill--------------------------------------------------- */

    #skill .skill-container{
        grid-template-columns: repeat(1, 1fr);
    }

    /* Skill--------------------------------------------------- */

    /* About----------------------------------------------------- */

    #about .about-list{
        align-items: start;
    }

    #about .about-list .list-content-1{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 5%;
    }
    
    #about .about-list .list-content-2{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 29%;
    }
    
    #about .about-list .list-content-3{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 55%;
    }
    
    #about .about-list .list-content-4{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 80%;
    }
    
     /* About----------------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    .profile-left .profile-img{
        transform: translate(-50%, -100%);
    }

    /* Curriculum Vitae--------------------------------------------------- */
    /* Contact--------------------------------------------------- */

    form .btn{
    transform: translate(-50%, 270%);

    }

    /* Contact--------------------------------------------------- */

}


@media (max-width: 768px){
    /* Navigation----------------------------------------------- */
    #navbar label{
        display: block;
        font-size: 1.5em;
        color: var(--text-color-W);
    }
    #navbar nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: var(--bg-color);
    }

    #navbar nav ul{
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    #check:checked ~ nav{
        height: fit-content;
    }
    /* Navigation----------------------------------------------- */

    /* About----------------------------------------------------- */

    #about .about-list{
        align-items: start;
    }
    
    #about .about-list .list-content-1{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 8%;
    }
        
    #about .about-list .list-content-2{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 33%;
    }
        
    #about .about-list .list-content-3{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 59%;
    }
        
    #about .about-list .list-content-4{
        text-align: start;
        width: 80%;
        left: 13%;
        top: 84%;
    }
        
     /* About----------------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    #curriculum-vitae .bio-data{
        grid-template-columns: 90%;
        height: auto;
    }

    .profile-left{
        display: none;
    }

    .profile-right{
        width: 100%;
    }

    .profile-right .personal-bio{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .personal-bio .personal-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-52%, 35%);
        width: 200px;
        height: 200px;
        border: solid;
        border-radius: 50%;
        background: url(image/Ricky.jpg) no-repeat;
        background-position: 50%;
        background-size: cover;
    }

    .personal-bio .personal-bio-data{
        margin-top: 180px;
        text-align: center;
    }

    .profile-right .personal-bio h1{
        border: none;
    }

    .personal-bio-data .personal-social-media{
        display: flex;
        justify-content: center;
        margin: 20px 0;
        gap: 20px;
    }

    .personal-social-media .social-link{
        width: 50px;
        height: 50px;
        background: #2f80ff;
        color: var(--text-color-W);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .personal-social-media .social-link:hover{
        transform: scale(1.1);
        box-shadow:0 0 10px rgba(0,0,0,.5);
    }

    .personal-bio .skill-interest li{
        list-style-type: none;
    }

    /* Curriculum Vitae--------------------------------------------------- */


    /* Contact--------------------------------------------------- */

    #contact{
        height: 100vh;
        padding: 5px 0 0;
    }

    #contact form{
        justify-content: start;
        flex-direction: column;
        transform: translateY(5%);
        height: 70vh;
    }

    .input-information input{
        width: 150%;
    }

    form textarea{
        width: 60%;
    
        height: 20vh;
    }

    form .btn{
    transform: translate(-50%, 400%);
    }

    /* Contact--------------------------------------------------- */
}


@media (max-width:500px){

    /* Navigation----------------------------------------------- */

    #navbar .header{
        padding: 20px;
    }

    /* Navigation----------------------------------------------- */

    /* Main--------------------------------------------------- */
    #main{
        background-position: center left;
    }
    /* Main--------------------------------------------------- */

    /* About----------------------------------------------------- */

    #about .about-list{
        align-items: start;
        margin-top: -10%;
    }

    #about .about-list .list-content-1{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 8%;
    }
    
    #about .about-list .list-content-2{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 32%;
    }
    
    #about .about-list .list-content-3{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 57%;
    }
    
    #about .about-list .list-content-4{
        text-align: start;
        width: 85%;
        left: 15%;
        top: 82%;
    }
    
     /* About----------------------------------------------------- */
     /* Contact----------------------------------------------------- */

    #contact form{
        height: 65vh;
    }

    form .btn{
        transform: translate(-50%, 380%);
    }

     /* Contact----------------------------------------------------- */
     /* Footer----------------------------------------------------- */

    footer{
        padding: 20px;
    }

     /* Footer----------------------------------------------------- */

    
}


@media (max-width:385px){
    /* Main------------------------------------------------------ */

    #main .main-intro{
        width: 60%;
        top: 60%;
    }

    /* Main------------------------------------------------------ */

    /* About----------------------------------------------------- */

    #about .about-list{
        align-items: start;
        padding: 0 10px;
    }
    
     /* About----------------------------------------------------- */

    /* Curriculum Vitae--------------------------------------------------- */

    .profile-right .personal-bio .personal-img{
    transform: translate(-50%, 60%);
    }


    /* Curriculum Vitae--------------------------------------------------- */


}